body{margin:0;padding:0;background:#201c21;font-size:12px;overflow:auto}
#mainDiv{width:100%;height:100%;position: fixed;}
#loveHeart{float:left;width:670px;height:625px}
/* #garden{width:100%;height:100%} */
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;color:#666}
#messages{display:none;text-align: center;font-size: 30px}
#elapseClock .digit{font-family:"digit";font-size:40px;text-align: center;}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code {
    float: left;
    width: 440px;
    height: 400px;
    color: #EDE2CC;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    /* font-weight: bold; */
}
#code .string{color:#2a36ff}
#code .keyword{color:#09ff00;font-weight:bold}
#code .placeholder{margin-left:10%}
#code .space{margin-left:7px}
#code .comments{color:#E3A94B}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}
#icon{font-size: 48px;color: red;margin: 50 px; align-content: center;}
#heartspan{align-content: center;text-align: center;margin: 20px;}


#garden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 670px; /* Adjust as needed */
    height: 625px;
}

#loveImage {
    width: 75%; /* Adjust image size */
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(50%, -50%); /* Center image */
    z-index: 1; /* Ensure it's above the canvas */
}

#garden canvas {
    display: block; /* Ensure canvas is visible */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Send it behind the image */
}

#button-container {
    text-align: center;
    margin-top: 20px;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #201c21;
    /* font-weight: bold; */
    background-color: #201c21;
    /* border: 2px solid white; */
    text-decoration: none;
    /* border-radius: 10px; */
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    /* background-color: black; */
    color: #D9A14B;
}
